version: '3.3'
services:
  oracle-11g:
    image: filemon/oracle_11g
    container_name: oracle-11g
    privileged: true
    restart: always
  environment:
    TZ: 'Asia/Shanghai'
    DBCA_TOTAL_MEMORY: 16192
    ports:
      - 1521:1521
    volumes:
      - ./data:/u01/app/oracle

# 连接参数如下
# hostname: localhost
# port: 31521
# sid: orcl
# service name: orcl
# username: system
# password: admin
